<header id="header">
    <nav class="skip-links">
        <ul>
            <li><a href="#content">Перейти к основному контенту ↓</a></li>
            <li><a href="#footer">Перейти к нижнему колонтитулу ↓</a></li>
        </ul>
    </nav>
    <nav>
        <a href="./index.html" class="logo">
            <div class="logo-img">
                <img width="44" height="44" src="./assets/meta/safari-pinned-tab.svg" alt="Логотип. Изображение зубра на марке." />
            </div>
            <p itemprop="copyrightHolder">
                ZUBRY.BY
                <span>Коллекция Почтовых Предметов</span>
            </p>
        </a>
        <ul class="menu">
            <li><a aria-current="{{isStamps}}" class="stamps" href="./stamps.html">Марки</a></li>
            <li><a aria-current="{{isEnvelopes}}" class="envelopes" href="./envelopes.html">Конверты</a></li>
            <li><a aria-current="{{isPostcards}}" class="postcards" href="./postcards.html">Посткарты</a></li>
            <li><a aria-current="{{isPhotos}}" class="photos" href="./photos.html">Открытки</a></li>
            <li><a aria-current="{{isAbout}}" class="about" href="./about.html">О сайте</a></li>
        </ul>
        <button class="open-mobile-menu" aria-label="Открыть мобильное меню">
            <svg width="20" viewBox="0 0 20 16" aria-hidden="true" focusable="false">
                <path fill="white" fill-rule="evenodd" d="M1 2c-.6 0-1-.5-1-1 0-.6.4-1 1-1h18c.5 0 1 .4 1 1 0 .5-.5 1-1 1H1zm0 7c-.6 0-1-.4-1-1s.4-1 1-1h18c.5 0 1 .4 1 1s-.5 1-1 1H1zm0 7c-.6 0-1-.5-1-1 0-.6.4-1 1-1h18c.5 0 1 .4 1 1 0 .5-.5 1-1 1H1z" />
            </svg>
        </button>
        <button class="close-mobile-menu" aria-label="Закрыть мобильное меню">
            <svg width="15.561" viewBox="0 0 15.561 15.561" aria-hidden="true" focusable="false">
                <path fill="white" d="M1007.78,1008.36l-1.42,1.42-6.36-6.37-6.364,6.37-1.414-1.42,6.364-6.36-6.364-6.364,1.414-1.414,6.364,6.368,6.36-6.368,1.42,1.414-6.37,6.364Z" transform="translate(-992.219 -994.219)" />
            </svg>
        </button>
    </nav>
    <div class="mobile-menu-wrapper">
        <nav class="mobile-menu">
            <ul class="menu">
                <li><a aria-current="{{isStamps}}" class="stamps" href="/stamps.html">Марки</a></li>
                <li><a aria-current="{{isEnvelopes}}" class="envelopes" href="/envelopes.html">Конверты</a></li>
                <li><a aria-current="{{isPostcards}}" class="postcards" href="/postcards.html">Посткарты</a></li>
                <li><a aria-current="{{isPhotos}}" class="photos" href="/photos.html">Открытки</a></li>
                <li><a aria-current="{{isAbout}}" class="about" href="/about.html">О сайте</a></li>
            </ul>
        </nav>
    </div>
</header>
<a class="top-link" aria-label="Перейти на верх страницы" title="Вверх" href="#top">
    <svg viewBox="0 -256 1792 1792" version="1.1" width="24" height="24" aria-hidden="true" focusable="false">
        <g transform="matrix(1,0,0,-1,53.152542,1262.6441)">
            <path fill="currentColor" d="m 1611,565 q 0,-51 -37,-90 l -75,-75 q -38,-38 -91,-38 -54,0 -90,38 L 1024,693 V -11 q 0,-52 -37.5,-84.5 Q 949,-128 896,-128 H 768 q -53,0 -90.5,32.5 Q 640,-63 640,-11 V 693 L 346,400 q -36,-38 -90,-38 -54,0 -90,38 l -75,75 q -38,38 -38,90 0,53 38,91 l 651,651 q 35,37 90,37 54,0 91,-37 l 651,-651 q 37,-39 37,-91 z" />
        </g>
    </svg>
</a>
