<header id="header">
    <nav class="skip-links">
        <ul>
            <li class="lang-opt">Эта страница на: <strong>Русском</strong> <a href="./{{pageName}}_en.html">English</a></li>
            <li><a href="#content">Перейти к основному контенту <span class="arrow-down">↓</span></a></li>
            <li><a href="#footer">Перейти к нижнему колонтитулу <span class="arrow-down">↓</span></a></li>
        </ul>
    </nav>
    <nav>
        <a href="./index.html" class="logo">
            <div class="logo-img">
                <img width="44" height="44" src="./assets/meta/safari-pinned-tab.svg" alt="Логотип. Изображение зубра на марке." />
            </div>
            <p itemprop="copyrightHolder">
                ZUBRY.BY
                <span>Коллекция Почтовых Предметов</span>
            </p>
        </a>
        <ul class="menu">
            <li><a aria-current="{{isStamps}}" class="stamps" href="./stamps.html">Марки</a></li>
            <li><a aria-current="{{isEnvelopes}}" class="envelopes" href="./envelopes.html">Конверты</a></li>
            <li><a aria-current="{{isPostcards}}" class="postcards" href="./postcards.html">Посткарты</a></li>
            <li><a aria-current="{{isPhotos}}" class="photos" href="./photos.html">Открытки</a></li>
            <li><a aria-current="{{isAbout}}" class="about" href="./about.html">О сайте</a></li>
        </ul>
        <button class="open-mobile-menu" aria-label="Открыть мобильное меню">
            <svg width="20" viewBox="0 0 20 16" aria-hidden="true" focusable="false">
                <path fill="white" fill-rule="evenodd" d="M1 2c-.6 0-1-.5-1-1 0-.6.4-1 1-1h18c.5 0 1 .4 1 1 0 .5-.5 1-1 1H1zm0 7c-.6 0-1-.4-1-1s.4-1 1-1h18c.5 0 1 .4 1 1s-.5 1-1 1H1zm0 7c-.6 0-1-.5-1-1 0-.6.4-1 1-1h18c.5 0 1 .4 1 1 0 .5-.5 1-1 1H1z" />
            </svg>
        </button>
        <button class="close-mobile-menu" aria-label="Закрыть мобильное меню">
            <svg width="15.561" viewBox="0 0 15.561 15.561" aria-hidden="true" focusable="false">
                <path fill="white" d="M1007.78,1008.36l-1.42,1.42-6.36-6.37-6.364,6.37-1.414-1.42,6.364-6.36-6.364-6.364,1.414-1.414,6.364,6.368,6.36-6.368,1.42,1.414-6.37,6.364Z" transform="translate(-992.219 -994.219)" />
            </svg>
        </button>
    </nav>
    <div class="mobile-menu-wrapper">
        <nav class="mobile-menu">
            <ul class="menu">
                <li><a aria-current="{{isStamps}}" class="stamps" href="/stamps.html">Марки</a></li>
                <li><a aria-current="{{isEnvelopes}}" class="envelopes" href="/envelopes.html">Конверты</a></li>
                <li><a aria-current="{{isPostcards}}" class="postcards" href="/postcards.html">Посткарты</a></li>
                <li><a aria-current="{{isPhotos}}" class="photos" href="/photos.html">Открытки</a></li>
                <li><a aria-current="{{isAbout}}" class="about" href="/about.html">О сайте</a></li>
            </ul>
        </nav>
    </div>
</header>
<a class="top-link" aria-label="Перейти на верх страницы" title="Вверх" href="#top">
    <svg viewBox="0 0 306 306" version="1.1" width="14" height="24" aria-hidden="true" focusable="false">
            <polygon fill="currentColor" points="35.7,247.35 153,130.05 270.3,247.35 306,211.65 153,58.65 0,211.65"/>
    </svg>
</a>
