<header id="header">
    <nav class="skip-links" title="Skip links">
        <ul>
            <li class="lang-opt">This page in: <a translate="no" lang="ru" href="./{{pageName}}.html">Русском</a> <strong translate="no">English</strong></li>
            <li><a href="#content">Skip to Content <span class="arrow-down">↓</span></a></li>
            <li><a href="#footer">Skip to Footer <span class="arrow-down">↓</span></a></li>
        </ul>
    </nav>
    <nav title="Main menu">
        <a href="./index_en.html" class="logo">
            <div class="logo-img">
                <img width="44" height="44" src="./assets/meta/android-chrome-192x192.png" alt="Logo. Stamp with bison picture." />
            </div>
            <p itemprop="copyrightHolder">
                <span lang="en" translate="no">ZUBRY.BY</span>
                <span class="subtext">Collection of Postal Items</span>
            </p>
        </a>
        <ul class="menu">
            <li><a aria-current="{{isStamps}}" class="stamps" href="./stamps_en.html">Stamps</a></li>
            <li><a aria-current="{{isEnvelopes}}" class="envelopes" href="./envelopes_en.html">Covers</a></li>
            <li><a aria-current="{{isPostalCards}}" class="postal-cards" href="./postal-cards_en.html">Postal Cards</a></li>
            <li><a aria-current="{{isPostcards}}" class="postcards" href="./postcards_en.html">Postcards</a></li>
            <li><a aria-current="{{isAbout}}" class="about" href="./about_en.html">About</a></li>
        </ul>
        <div class="switch-lang-mobile"><a lang="ru" translate="no" href="./{{pageName}}.html">РУС</a></div>
        <button class="open-mobile-menu" aria-label="Open mobile menu">
            <svg width="20" viewBox="0 0 20 16" aria-hidden="true" focusable="false">
                <path fill="white" fill-rule="evenodd" d="M1 2c-.6 0-1-.5-1-1 0-.6.4-1 1-1h18c.5 0 1 .4 1 1 0 .5-.5 1-1 1H1zm0 7c-.6 0-1-.4-1-1s.4-1 1-1h18c.5 0 1 .4 1 1s-.5 1-1 1H1zm0 7c-.6 0-1-.5-1-1 0-.6.4-1 1-1h18c.5 0 1 .4 1 1 0 .5-.5 1-1 1H1z" />
            </svg>
        </button>
        <button class="close-mobile-menu" aria-label="Close mobile menu">
            <svg width="15.561" viewBox="0 0 15.561 15.561" aria-hidden="true" focusable="false">
                <path fill="white" d="M1007.78,1008.36l-1.42,1.42-6.36-6.37-6.364,6.37-1.414-1.42,6.364-6.36-6.364-6.364,1.414-1.414,6.364,6.368,6.36-6.368,1.42,1.414-6.37,6.364Z" transform="translate(-992.219 -994.219)" />
            </svg>
        </button>
    </nav>
    <div class="mobile-menu-wrapper">
        <nav class="mobile-menu">
            <ul class="menu">
                <li><a aria-current="{{isStamps}}" class="stamps" href="/stamps_en.html">Stamps</a></li>
                <li><a aria-current="{{isEnvelopes}}" class="envelopes" href="/envelopes_en.html">Covers</a></li>
                <li><a aria-current="{{isPostalCards}}" class="postal-cards" href="/postal-cards_en.html">Postal Cards</a></li>
                <li><a aria-current="{{isPostcards}}" class="postcards" href="/postcards_en.html">Postcards</a></li>
                <li><a aria-current="{{isAbout}}" class="about" href="/about_en.html">About</a></li>
            </ul>
        </nav>
    </div>
</header>
<a class="top-link" aria-label="Go to the page top" title="Up" href="#top">
    <svg viewBox="0 0 306 306" version="1.1" width="14" height="24" aria-hidden="true" focusable="false">
            <polygon fill="currentColor" points="35.7,247.35 153,130.05 270.3,247.35 306,211.65 153,58.65 0,211.65"/>
    </svg>
</a>
