<!DOCTYPE html>
<html lang="ru" itemscope itemtype="http://schema.org/AboutPage">
<head>
    {{seo "О сайте" "slide0"}}
    {{resources false}}

    <style>
        :root {
            --page-color: var(--about-color);
        }

        article p > a {
            color: var(--black-color);
            font-style: normal;
        }

        article p > a:hover,
        article p > a:focus {
            background-color: var(--black-color);
            color: white;
            font-style: normal;
            outline: none;
        }

        article figure {
            max-width: 50%;
            margin: 1em 0;
        }

        article figure figcaption {
            margin: 0;
            color: var(--gray-color);
            font-size: 1em;
            font-style: italic;
            font-weight: normal;
            text-align: center;
        }

        .menu a.about {
            color: var(--about-color);
            opacity: 1;
        }

        .menu > li a.about::after {
            width: 100%;
        }

        .cover {
            background-image: url(./assets/pics/slide0.jpg);
        }

        @media (pointer: coarse) {
            .menu > li a.about::after {
                width: 0;
            }
        }

        @media (max-width: 769px) {
            article figure {
                width: 100%;
                max-width: 100%;
            }
        }
    </style>
</head>
<body>
{{header}}
<div class="cover"></div>
<article>
    <div>
        <h2>{{name}}</h2>
        <div>
            <p>Зубр — это удивительное и редкое животное, находящееся под охраной и занесенное в Красную книгу Республики Беларусь. Зубр — король европейских лесов и гордость Беловежской пущи.</p>
            <p>Это млекопитающее занимает важную роль в символике не только Беларуси, оно в равной степени почитается также в Польше, Литве, России, Украине, Румынии, Венгрии и на Кавказе.</p>
            <figure>
                <img src="assets/pics/about/about-img1.jpg" alt="">
                <figcaption>Чугунная фигура зубра, установленная в память охоты императора Александра II. 1860 г. Из книги "Царские охоты в Беловежской пуще. Страницы истории"</figcaption>
            </figure>
            <p>К сожалению, на воле зубр был полностью уничтожен. Как самое крупное животное в Европе, зубр был всегда желанным охотничьим трофеем. Чем меньше становилась в мире его численность, тем выше он ценился охотниками и браконьерами. В Англии зубр исчез в XII веке, во Франции и Швеции — в XVI веке, в Венгрии — в 1729 году. В Восточной Пруссии лесных исполинов истребили в 1755 году. Последний живущий на свободе зубр был убит в Беловежской пуще лесничим Казимиром Шпаковским в 1921 году, а на Кавказе последних трёх зубров убили в 1926 году в окрестностях горы Алоус.</p>
            <figure>
                <img src="assets/pics/about/about-img2.jpg" alt="">
                <figcaption>Убитый зубр в окружении чинов 15-го пехотного Шлиссельбургского полка. 1903 г. Из книги "Царские охоты в Беловежской пуще. Страницы истории"</figcaption>
            </figure>
            <figure>
                <img src="assets/pics/about/about-img3.jpg" alt="">
                <figcaption>Взвешивание убитого зубра. 1903 г. Из книги "Царские охоты в Беловежской пуще. Страницы истории"</figcaption>
            </figure>
            <p>По инициативе польского зоолога Яна Штольцмана во Франкфурте-на-Майне в 1923 году было создано Международное общество охраны зубра. Те популяции, которые мы видим сейчас, были восстановлены благодаря особям, сохранившимся в неволе (зоопарки, зоосады и заповедники). Благодаря обществу по охране зубров в 1952 году стало возможным вновь поселить первые свободные стада зубров в Беловежской пуще. В1954 году в Польше вышла первая почтовая марки с изображением зубра.</p>
            <p>Зубр символизирует одновременно как то, что человечество может безвозвратно потерять в дикой природе, так и то, что оно может сохранить вовремя объединившись.</p>
            <p>Зубр, как явление, может быть прекрасной темой для филателистической коллекции. Данный сайт ставит перед собой задачу оцифровки частной коллекции почтовых марок, открыток, конвертов, почтовых карточек и цельных вещей, посвященных теме зубра. В случае, если у читателя есть информация, которая позволит дополнить или улучшить сайт, просьба обращаться по адресу <a href="mailto:zubryby@gmail.com">zubryby@gmail.com</a></p>
        </div>
    </div>
</article>
{{footer}}
</body>
</html>
