<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/AboutPage">
<head>
    {{seo_en "About" "slide0" "ZUBRY.BY - Private collection of postal items dedicated to the topic of bison. Posted by Artur Basak."}}
    {{resources false "slide0"}}

    <style>
        :root {
            --page-color: var(--about-color);
        }

        figcaption > a,
        article p > a {
            color: var(--text-color);
            font-style: normal;
        }

        figcaption > a:hover,
        figcaption > a:focus,
        article p > a:hover,
        article p > a:focus {
            background-color: var(--black-color);
            color: white;
            font-style: normal;
            outline: none;
        }

        article img {
            border: none;
            transform: rotate(0deg);
        }

        article figure {
            max-width: 50%;
            margin: 1em 0;
        }

        article figure img {
            filter: none;
        }

        article figure img:hover {
            transform: unset;
            transition: none;
            cursor: default;
        }

        article figure figcaption {
            margin: 0.5em 0 0;
            color: rgb(119, 109, 109);
            font-size: 1em;
            font-style: normal;
            font-weight: normal;
            text-align: center;
        }

        .menu a.about {
            color: var(--about-color);
            opacity: 1;
        }

        .menu > li a.about::after {
            width: 100%;
        }

        .cover {
            background-image: url(./assets/pics/slide0.jpg);
            background-position: center 40%;
        }

        @media (pointer: coarse) {
            .menu > li a.about::after {
                width: 0;
            }
        }

        @media (max-width: 800px) {
            article figure {
                width: 100%;
                max-width: 100%;
            }
        }
    </style>
</head>
<body>
{{header_en 'about'}}
<div class="cover"></div>
<article>
    <div id="content" class="anchor"></div>
    <div>
        <h1>{{name}}</h1>
        <div>
            <p>Зубр — это удивительное и редкое животное, находящееся под охраной и занесенное в Красную книгу Республики Беларусь. Зубр — король европейских лесов и гордость Беловежской пущи, это последний представитель диких быков в Европе.</p>
            <figure>
                <img loading="lazy" decoding="async" src="assets/pics/about/puscha_0.jpg" alt="Дети подкармиливают зубра дубовыми ветками. Белавежская пуща. Лето 2020 г. Фото Басак Артур">
                <figcaption>Дети подкармиливают зубра дубовыми ветками. Белавежская пуща. Лето 2020 г. Фото Басак Артур</figcaption>
            </figure>
            <p>Это млекопитающее занимает важную роль в символике не только Беларуси, оно в равной степени почитается также в Польше, Литве, России, Украине, Румынии, Венгрии и на Кавказе.</p>
            <figure>
                <img loading="lazy" decoding="async" src="assets/pics/about/about-img1.jpg" alt="Чугунная фигура зубра, установленная в память охоты императора Александра II. 1860 г. Из книги 'Царские охоты в Беловежской пуще. Страницы истории'">
                <figcaption>Чугунная фигура зубра, установленная в память охоты императора Александра II. 1860 г. Из книги "Царские охоты в Беловежской пуще. Страницы истории"</figcaption>
            </figure>
            <p>К сожалению, на воле зубр был полностью уничтожен. Как самое крупное животное в Европе, зубр был всегда желанным охотничьим трофеем. Чем меньше становилась в мире его численность, тем выше он ценился охотниками и браконьерами. В Англии зубр исчез в XII веке, во Франции и Швеции — в XVI веке, в Венгрии — в 1729 году. В Восточной Пруссии лесных исполинов истребили в 1755 году. Последний живущий на свободе равнинный зубр был убит в Беловежской пуще лесничим Казимиром Шпаковским в 1921 году, а на Кавказе последних трёх зубров убили в 1926 году в окрестностях горы Алоус.</p>
            <figure>
                <img loading="lazy" decoding="async" src="assets/pics/about/about-img2.jpg" alt="Убитый зубр в окружении чинов 15-го пехотного Шлиссельбургского полка. 1903 г. Из книги 'Царские охоты в Беловежской пуще. Страницы истории'">
                <figcaption>Убитый зубр в окружении чинов 15-го пехотного Шлиссельбургского полка. 1903 г. Из книги "Царские охоты в Беловежской пуще. Страницы истории"</figcaption>
            </figure>
            <figure>
                <img loading="lazy" decoding="async" src="assets/pics/about/about-img3.jpg" alt="Взвешивание убитого зубра. 1903 г. Из книги 'Царские охоты в Беловежской пуще. Страницы истории'">
                <figcaption>Взвешивание убитого зубра. 1903 г. Из книги "Царские охоты в Беловежской пуще. Страницы истории"</figcaption>
            </figure>
            <p>По инициативе польского зоолога Яна Штольцмана во Франкфурте-на-Майне в 1923 году было создано Международное общество охраны зубра. Те популяции, которые мы видим сейчас, были восстановлены благодаря особям, сохранившимся в неволе (зоопарки, зоосады и заповедники).</p>
            <figure>
                <img loading="lazy" decoding="async" src="assets/pics/about/minsk-2016.jpg" alt="Зубр в Минском зоопарке. Осень 2016 г. Фото Басак Артур">
                <figcaption>Самец зубра в Минском зоопарке. Осень 2016 г. Фото Басак Артур</figcaption>
            </figure>
            <figure>
                <img loading="lazy" decoding="async" src="assets/pics/about/grodno-2016.jpg" alt="Зубр в Гродненском зоопарке. Осень 2016 г. Фото Басак Артур">
                <figcaption>Самка зубра в Гродненском зоопарке. Осень 2016 г. Фото Басак Артур</figcaption>
            </figure>
            <figure>
                <img loading="lazy" decoding="async" src="assets/pics/about/grodno_2020.jpg" alt="Зубры в Гродненском зоопарке. Лето 2020 г. Фото Басак Артур">
                <figcaption>Зубры в Гродненском зоопарке. Лето 2020 г. Фото Басак Артур</figcaption>
            </figure>
            <p>Благодаря обществу по охране зубров в 1952 году стало возможным вновь поселить первые свободные стада зубров в Беловежской пуще. В1954 году в Польше вышла первая почтовая марка с изображением зубра.</p>
            <figure>
                <img loading="lazy" decoding="async" src="assets/pics/about/puscha_1950.jpg" alt="Восстановление зубров в Беловежской пуще. 1950-е">
                <figcaption>Восстановление зубров в Беловежской пуще. Фото из экспозиции музея Беловежской пущи. 1950-е</figcaption>
            </figure>
            <figure>
                <img loading="lazy" decoding="async" src="assets/pics/about/belovezha-2016.jpg" alt="Зубры в Беловежской пуще. Зима 2016 г. Фото Басак Артур">
                <figcaption>Зубры в Беловежской пуще. Зима 2016 г. Фото Басак Артур</figcaption>
            </figure>
            <figure>
                <img loading="lazy" decoding="async" src="assets/pics/about/puscha_3.jpg" alt="Молодые зубры бадаются. Национальный парк „Беловежская пуща“. Лето 2020 г. Фото Басак Артур">
                <figcaption>Молодые зубры бадаются. Национальный парк „Беловежская пуща“. Лето 2020 г. Фото Басак Артур</figcaption>
            </figure>
            <figure>
                <img loading="lazy" decoding="async" src="assets/pics/about/puscha_2.jpg" alt="Зубр пасется. Национальный парк „Беловежская пуща“. Лето 2020 г. Фото Басак Артур">
                <figcaption>Зубр пасется. Национальный парк „Беловежская пуща“. Лето 2020 г. Фото Басак Артур</figcaption>
            </figure>
            <p>После Белавежской пущи зубр постепенно начал заселять другие зоосады и запаведники на территории Беларуси и соседних стран.</p>
            <p>Зубр символизирует одновременно как то, что человечество может безвозвратно потерять в дикой природе, так и то, что оно могло бы сохранить вовремя объединившись.</p>
            <figure>
                <img loading="lazy" decoding="async" src="assets/pics/about/berezinski-2016.jpg" alt="Зубр в лесном зоопарке Березинского биосферного заповедника. Весна 2016 г. Фото Басак Артур">
                <figcaption>Зубр в лесном зоопарке Березинского биосферного заповедника. Весна 2016 г. Фото Басак Артур</figcaption>
            </figure>
            <figure>
                <img loading="lazy" decoding="async" src="assets/pics/about/bialostok-2017.jpg" alt="Зубр в зоопарке Белостока. Весна 2017 г. Фото Басак Артур">
                <figcaption>Зубр в зоопарке Белостока. Весна 2017 г. Фото Басак Артур</figcaption>
            </figure>
            <figure>
                <img loading="lazy" decoding="async" src="assets/pics/about/mogilev-2016.jpg" alt="Стадо зубров в Могилевском зоосаде. Лето 2016 г. Фото Басак Артур">
                <figcaption>Стадо зубров в Могилевском зоосаде. Лето 2016 г. Фото Басак Артур</figcaption>
            </figure>
            <p>Зубр, как явление, может быть прекрасной темой для филателистической коллекции. Данный сайт ставит перед собой задачу оцифровки частной коллекции почтовых марок, открыток, конвертов, почтовых карточек и цельных вещей, посвященных теме зубра. Информация о многих экспонатах была взята из онлайн-каталога <a href="http://bison-stamps.narod.ru" target="_blank" rel="noreferrer noopener external nofollow">http://bison-stamps.narod.ru</a>. В случае, если у читателя есть информация, которая позволит дополнить или улучшить сайт, просьба обращаться по адресу <a href="mailto:zubryby@gmail.com">zubryby@gmail.com</a></p>
            <figure>
                <img loading="lazy" decoding="async" src="assets/pics/about/puscha_1.jpg" alt="Знаменитый зубр Миша, который прибился к стаду коров в Кобринском районе. Белавежская пуща. Лето 2020 г. Фото Басак Артур">
                <figcaption>Знаменитый зубр Миша, который <a href="https://news.tut.by/culture/513591.html" target="_blank" rel="noreferrer noopener external nofollow">прибился к стаду коров в Кобринском районе</a>. Белавежская пуща. Лето 2020 г. Фото Басак Артур</figcaption>
            </figure>
        </div>
    </div>
</article>
{{footer_en}}
</body>
</html>
