<!DOCTYPE html>
<html lang="ru">
<head>
    {{seo "Открытки" "slide5"}}
    {{resources false}}

    <style>
        .menu a.photos {
            color: var(--photos-color);
            opacity: 1;
        }

        .menu > li a.photos::after {
            width: 100%;
        }

        article {
            --page-color: var(--photos-color);
        }

        .cover {
            background-image: url(./assets/pics/slide7.jpg);
            background-position: center 25%;
        }

        @media (pointer: coarse) {
            .menu > li a.photos::after {
                width: 0;
            }
        }

        @media (max-width: 769px) {
            .cover {
                background-image: url(./assets/pics/slide7-800w.jpg);
            }
        }

        @media (max-width: 400px) {
            .cover {
                background-image: url(./assets/pics/slide7-400w.jpg);
            }
        }
    </style>
</head>
<body>
{{header}}
<div class="cover"></div>
<article itemscope itemtype="http://schema.org/Collection">
    <div>
        <h2 itemprop="name">{{name}}</h2>
        <p itemprop="description">{{description}}</p>
        {{#each things}}
            <section itemscope itemtype="http://schema.org/Thing">
                <picture>
                    <source media="(max-width: 480px)" srcset="./assets/pics/{{../pictureFolder}}/{{image}}-480w.jpg">
                    <img itemprop="image"
                         src="./assets/pics/{{../pictureFolder}}/{{image}}.jpg"
                         width="400" height="200" alt="Изображение марок" />
                </picture>
                <div class="details">
                    <time itemprop="description">{{year}}</time>
                    <h3 itemprop="name">{{title}}</h3>
                    <dl itemprop="description">
                        {{#each props}}
                            <dt>{{name}}</dt>
                            <dd>{{value}}</dd>
                        {{/each}}
                    </dl>
                </div>
            </section>
        {{/each}}
    </div>
</article>
{{footer}}
</body>
</html>
